@page
@model EcomApp.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>@Model.Product.Name</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="~/img/@Model.Product.ImageFileName" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <p>Category : @Model.Product.Category?.Name</p> 
            <h3>Description</h3>
            <p>@Model.Product.Description</p>
            <h3>Price: @Model.Product.Price DH</h3>
            <div class="mt-4">
                <a href="#" class="btn btn-warning btn-lg">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-lg">Buy Now</a>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-page="./Edit" asp-route-id="@Model.Product?.Id" class="btn btn-dark">Edit</a>
        <a asp-page="./Index" class="btn btn-dark">Back to List</a>
    </div>
</div>

<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>
